<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>FastFeast - Add Vehicle</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/core.css}" />
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:replace="~{fragments/header :: header}">Header</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
			<form autocomplete="off" action="#"
					th:action="@{saveVehicle}" th:object="${vehicle}"
					method="post" class="form-horizontal" role="form">
					<h2>Add New Vehicle</h2>
					<div class="form-group">
						<div class="col-sm-9">
							<label th:if="${#fields.hasErrors('make')}"
								th:errors="*{make}" class="validation-message"></label> <input
								type="text" th:field="*{make}"
								class="form-control col-4 mb-4" placeholder="Enter Make" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<label th:if="${#fields.hasErrors('model')}"
								th:errors="*{model}" class="validation-message"></label> <input
								type="text" th:field="*{model}"
								class="form-control col-4 mb-4" placeholder="Enter Model" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<label th:if="${#fields.hasErrors('vehiclePlate')}" th:errors="*{vehiclePlate}"
								class="validation-message"></label> <input type="text"
								th:field="*{vehiclePlate}" class="form-control col-4 mb-4"
								placeholder="Enter Plate" />

						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<button type="submit" class="btn btn-primary col-2">Add Vehicle</button>
						</div>
					</div>
				</form>
			</div>
		</div>

		<a th:href="@{vehicles}">Back to list</a>
		<div th:insert="~{fragments/footer :: footer}">&copy; 2017 The Static Templates</div>
	</div>
</body>
</html>