<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<title>List Restaurants</title>
		
		<link rel="stylesheet" 
			type="text/css" 
			href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/core.css}" />
	</head>
	
	<body>
		<div th:replace="~{fragments/header :: header}">Header</div>
		<div class="container" style="max-width:100% !important">
		
			<h3>List Restaurants</h3>
			
			<hr/>
			<a th:href="@{addRestaurantForm}" class="btn btn-primary">Add Restaurant</a>
			<br/><br/>
			<table class="table table-bordered table-striped" id="restaurantTable">
			
				<thead>
					<tr>
						<th width="5%">Id</th>
						<th width="15%">Name</th>
						<th width="10%">Location</th>
						<th width="20%">Schedule</th>
						<th width="5%">Web site</th>
						<th width="5%">Rating</th>
						<th width="25%">Menu</th>
						<th width="15%">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:class= "dt-control" th:each="restaurant: ${restaurants}">
						<td width="5%" th:text="${restaurant.restaurantId}" />
						<td width="15%" th:text="${restaurant.restaurantName}" />
						<td width="10%" th:text="${restaurant.location}" />
						<td width="20%" th:text="${restaurant.schedule}" />
						<td width="5%" th:text="${restaurant.website}" />
						<td width="5%" th:text="${restaurant.rating}" />
						<td width="25%" >
							<table class="table table-bordered table-striped">
								<tr>
									<th>Item</th>
									<th>Price</th>
								</tr>
								<tr th:each="item: ${restaurant.items}">
									<td th:text="${item.item}"/>
									<td th:text="'$'+${item.price}"/>
								</tr>
							</table>
						</td>
						<td width="15%">
							<a th:href="@{/admin/showResUpdateForm(restaurantId=${restaurant.restaurantId})}" class="btn btn-info">Update</a>
							
							<a th:href="@{/admin/deleteRestaurant(restaurantId=${restaurant.restaurantId})}" class="btn btn-danger ml-2">Delete</a>
						</td>
					</tr>
				</tbody>
				
			</table>
			<div th:insert="~{fragments/footer :: footer}">&copy; 2017 The Static Templates</div>
		</div>
		
		<script th:src="@{/js/jquery.min.js}"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
		<script>
			$(document).ready(function() {
				$("#restaurantTable").DataTable({
						'aoColumnDefs': [{
        				'bSortable': false,
        				'aTargets': [-1] /* 1st one, start by the right */
    				}]
				});
			})
		</script>
	</body>
	
</html>