<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<title>List Vehicles</title>
		
		<link rel="stylesheet" 
			type="text/css" 
			href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/core.css}" />
	</head>
	
	<body>
		<div th:replace="~{fragments/header :: header}">Header</div>
		<div class="container">
		
			<h3>List Vehicles</h3>
			
			<hr/>
			<a th:href="@{addVehicleForm}" class="btn btn-primary">Add Vehicle</a>
			<br/><br/>
			<table class="table table-bordered table-striped" id="vehicleTable">
			
				<thead>
					<tr>
						<th>Id</th>
						<th>Make</th>
						<th>Model</th>
						<th>Plate</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="vehicle: ${vehicles}">
						<td th:text="${vehicle.vehicleId}" />
						<td th:text="${vehicle.make}" />
						<td th:text="${vehicle.model}" />
						<td th:text="${vehicle.vehiclePlate}" />
						<td>
							<a th:href="@{/admin/showVehicleUpdateForm(vehicleId=${vehicle.vehicleId})}" class="btn btn-info">Modify</a>
							
							<a th:href="@{/admin/deleteVehicle(vehicleId=${vehicle.vehicleId})}" class="btn btn-danger ml-2">Delete</a>
						</td>
					</tr>
				</tbody>
				
			</table>
			<div th:insert="~{fragments/footer :: footer}">&copy; 2017 The Static Templates</div>
		</div>
		
		<script th:src="@{/js/jquery.min.js}"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
		<script>
			$(document).ready(function() {
				$("#vehicleTable").DataTable({
						'aoColumnDefs': [{
        				'bSortable': false,
        				'aTargets': [-1] /* 1st one, start by the right */
    				}]
				});
			})
		</script>
	</body>
	
</html>