<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>CampusEats - Update Food</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/core.css}" />
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:replace="~{fragments/header :: header}">Header</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
			<form autocomplete="off" action="#"
					th:action="@{updateFoodItem(itemId=${foodItems.itemId})}" th:object="${foodItems}"
					method="post" class="form-horizontal" role="form">
					<h2>Update Food Item</h2>
					<div class="form-group">
						<div class="col-sm-9">
							<label th:if="${#fields.hasErrors('item')}"
								th:errors="*{item}" class="validation-message"></label> <input
								type="text" th:field="*{item}"
								class="form-control col-4 mb-4" placeholder="Enter Food Item" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<label th:if="${#fields.hasErrors('price')}"
								th:errors="*{price}" class="validation-message"></label> <input
								type="text" th:field="*{price}"
								class="form-control col-4 mb-4" placeholder="Enter Price" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<button type="submit" class="btn btn-primary col-2">Update Food Item</button>
						</div>
					</div>
				</form>
			</div>
		</div>

		<a th:href="@{foodItems}">Back to list</a>
		<div th:insert="~{fragments/footer :: footer}">&copy; 2017 The Static Templates</div>
	</div>
</body>
</html>